.DS_Store
log/*.log
tmp/**/*
*.cache
*.pid
config/database.yml
db/*.sqlite3
db/*.sqlite3-journal
*~
db/schema.rb
coverage/*
public/index2.html
public/index.html
public/test/index.html
public/stylesheets/main.css
