body {
    margin: 0;
    padding: 0;
}

#wrapper {
    margin: 0;
    padding: 20px;
}

/* navigation */
#navigation-wrapper {
    border-bottom: 1px solid #999;
}
#navigation {
    float: left;
    list-style: none;
    margin: 10px 0 0 20px;
    padding: 0;
}
    #navigation li {
        border-width: 1px;
        border-style: solid;
        border-color: #999;
        border-bottom: none;
        float: left;
        margin-right: 10px;
    }
        #navigation li .current,
        #navigation li a {
            color: #666;
            display: block;
            float: left;
            font-family: Helvetica, sans-serif;
            line-height: 2em;
            padding: 0 1em;
            text-decoration: none;
        }
        #navigation li .current {
            border-bottom: 1px solid white;
            color: #000;
            margin-bottom: -1px;
        }
        #navigation li a:hover {
            background-color: #eee;
        }

/* pages & commenters */
#invited_message,
#pages_message {
    color: #666;
    font-size: 1.2em;
    margin: 5px 0;
    padding: 0;
}
    #invited_message #invite_count,
    #pages_message #page_count {
        color: #333;
        font-size: 1.2em;
        font-weight: bold;
    }

#site_commenters,
#site_pages {
    margin: 20px 0;
}

.invited_commenter,
.site_page {
    font-size: 1.5em;
    padding: 5px;
}
.invited_commenter:hover,
.site_page:hover {
    background-color: #eee;
}

    .commenter_email,
    .page_details {
        padding-left: 7px;
    }
        .page_details .latest_feedback {
            color: #999;
            display: block;
            font-size: 60%;
        }

    .remove_commenter,
    .remove_page {
        float: right;
        width: 50px;
    }
        .remove_commenter a,
        .remove_commenter a:link,
        .remove_page a,
        .remove_page a:link {
            background-color: transparent;
            color: #666;
            text-decoration: none;
        }
        .remove_commenter a:hover,
        .remove_page a:hover {
            color: red;
        }

#invite_commenters {
    background-color: #eee;
    border: 1px solid #ccc;
    color: #333;
    margin: 5px;
    padding: 20px;
    width: 510px;
}
    #invite_commenters legend {
        color: #333;
        font-size: 1.5em;
        font-weight: bold;
    }
    #invite_commenters form label {
        font-style: italic;
    }
    #invite_commenters form textarea {
        height: 100px;
        width: 400px;
    }
    #invite_commenters form input {
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        width: 400px;
    }

/* error messages */
.notice, .warning, .error {
    border: 1px solid;
    margin: 10px 0px;
    padding:15px 10px 15px 50px;
    background-repeat: no-repeat;
    background-position: 10px center;
    width: 500px;
}
.notice {
    color: #4F8A10;
    background-color: #DFF2BF;
    background-image:url('notice.png');
}
.warning {
    color: #9F6000;
    background-color: #FEEFB3;
    background-image: url('warning.png');
}
.error {
    color: #D8000C;
    background-color: #FFBABA;
    background-image: url('error.png');
}