body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  font-size: 12px;
  color: #111;
}

#wrapper {
  border-top: 1px solid #999;
  margin: 0;
  padding: 20px;
}

/* navigation */
#navigation-wrapper {
  padding: 0 10px;
  margin-top: 10px;
  height: 30px;
}
#navigation {
  float: left;
  list-style: none;
  height: 100%;
}
#navigation li {
  border: 1px solid #999;
  border-bottom: none;
  float: left;
  margin-right: 10px;
  height: 100%;
}
#navigation li .current,
#navigation li a {
  color: #666;
  display: block;
  float: left;
  font-family: Helvetica, sans-serif;
  padding: 8px 1em;
  text-decoration: none;
}
#navigation li .current {
  border-bottom: 1px solid white;
  color: #000;
}
#navigation li a:hover {
  background-color: #eee;
}

#search_bar {
  float:right;
  height: 100%;
}
#search_bar #search {
  width: 9em;
}

#search_bar #search_button {
  background-color: transparent;
  color: transparent;
  cursor: pointer;
  background-image: url(/images/mag_glass.gif);
  border: 0;
  height: 20px;
}

form.button-to {
  display: inline;
}
form.button-to div {
  display: inline;
}

/* pages & commenters */

/*.even {
  background-color: white; }

.odd {
  background-color: #accfcc; }*/
  
#invited_message,
#pages_message {
  color: #666;
  font-size: 1.4em;
  margin: 5px 0;
  padding: 0;
}
#invited_message #invite_count,
#pages_message #page_count {
  color: #333;
  font-weight: bold;
}

.site_commenters,
#site_pages {
  margin: 20px 0;
}

.site_commenters li.invited_commenter {
  border-bottom: 1px #CCC dotted;
}

.site_commenters li.invited_commenter a {
  text-decoration: none;
  color: #222;
}

.site_commenters li.invited_commenter .commenter_email a:hover {
  border-bottom: 1px solid #444;
  color: #111;
}

.search_match {
  font-size: 12px;
}

.search_match p {
  padding-left: 10px;
}

.site_commenters p, .search_match span {
  font-weight: bold;
}

.site_commenters h2, #invite_commenters h2 {
  background:#EEEEEE;
  color:#666666;
  font-weight:bold;
  padding:5px;
  text-transform:uppercase;
  font-size: 14px;
  border: 1px solid #CCC;
  margin-bottom: 5px;
}

.invited_commenter,
.site_page {
  font-size: 1.25em;
  padding-left:10px ;
}

/*
.invited_commenter:hover,
.site_page:hover {
  background-color: #eee;
  -moz-border-radius: 5px;
}*/

li.invited_commenter, li.site_page {
  padding: 5px;
}
.commenter_details {
  padding-left: 10px;
  font-size: .8em;
  color: #777;
}
.commenter_details:hover {
}

/*.commenter_email,
.page_details {
  padding-left: 1;
}*/

.commenter_email {font-weight: bold;}

.page_details .latest_feedback {
  color: #999;
  display: block;
  font-size: .6em;
}

.resend_invite {
  float: right;
}
.remove_commenter {
  margin-left: 15px; /* for .resend_invite, above */
}

.site_commenters li.invited_commenter .remove_commenter,
.remove_page {
  float: right;
  width: 20px;
}
.site_commenters li.invited_commenter .remove_commenter a,
.site_commenters li.invited_commenter .remove_commenter a:link,
.remove_page a,
.remove_page a:link {
  background-color: transparent;
  color: #666;
  text-decoration: none;
}
.site_commenters li.invited_commenter .remove_commenter a:hover,
.remove_page a:hover {
  color: #C1272D;
}


#invite_commenters form label {
  font-style: italic;
}
#invite_commenters form textarea {
  height: 100px;
  width: 100%;
  border: 1px solid #CCC;
  font-weight: bold; 
  font-size: 14px; 
  line-height: 1.2em;
  font-family: Helvetica, Arial, sans-serif;
}
#invite_commenters form input {
  font-family: Helvetica, Arial, sans-serif;
  width: 100%;
  font-weight: bold; 
  font-size: 14px;
}

/* error messages */
#notice, #warning, #error {
  border: 1px solid;
  margin: 10px 0px;
  padding:15px 10px 15px 50px;
  background-repeat: no-repeat;
  background-position: 10px center;
}
#notice {
  color: #4F8A10;
  background-color: #DFF2BF;
}
#warning {
  color: #9F6000;
  background-color: #FEEFB3;
}
#error {
  color: #D8000C;
  background-color: #FFBABA;
}

