body {
    border: 1px dashed red;
    height: 400px;
    margin: 0;
    padding: 20px;
    width: 600px;
}

/* commenters */
#invited_message {
    color: #666;
    font-size: 1.2em;
    margin: 5px 0;
    padding: 0;
}
    #invited_message #invite_count {
        color: #333;
        font-size: 1.2em;
        font-weight: bold;
    }

#site_commenters {
    margin: 20px 0;
}

.invited_commenter {
    font-size: 1.5em;
    padding: 5px;
}
.invited_commenter:hover {
    background-color: #eee;
}

.commenter_email {
    padding-left: 7px;
}

.remove_commenter {
    float: right;
    width: 50px;
}
    .remove_commenter a,
    .remove_commenter a:link {
        background-color: transparent;
        color: #666;
        text-decoration: none;
    }
    .remove_commenter a:hover {
        color: red;
    }

/* error messages */
.notice, .warning, .error {
    border: 1px solid;
    margin: 10px 0px;
    padding:15px 10px 15px 50px;
    background-repeat: no-repeat;
    background-position: 10px center;
    width: 500px;
}
.notice {
    color: #4F8A10;
    background-color: #DFF2BF;
    background-image:url('notice.png');
}
.warning {
    color: #9F6000;
    background-color: #FEEFB3;
    background-image: url('warning.png');
}
.error {
    color: #D8000C;
    background-color: #FFBABA;
    background-image: url('error.png');
}