/* General */

#outspokes .outspokes_clear {
  clear: both;
}

#outspokes #widget_edits {
}

/* List of edits view */

#outspokes {
  
}
#outspokes #edits_list { 
  height: 217px; 
}
#outspokes #new_edit_link {
  float: right;
  font-size: 32px;
  font-weight: bold;
  font-style: italic;
  margin-right: 2%;
  width: 26%;
  height: 157px;
  background:#FFFFFF url(/images/new-edit-bg.png) no-repeat scroll center center;
  color: #111;
  cursor: pointer;
  margin-top: 30px;
  -moz-border-radius-bottomleft:7px;
  text-align: center;
}

#outspokes #new_edit_link div {
  font-size:43px;
  letter-spacing:-4px;
  line-height:33px;
  margin-top:5px;
  padding:10px;
  text-align:right;
}

#outspokes #back_to_edits_list {
  font-weight: bold;
  font-style: italic;
  text-align: left;
  font-size:43px;
  letter-spacing:-4px;
  line-height:33px;
  color: #111;
  cursor: pointer;
}

#outspokes #new_edit_link div span {
  color: #C1272D;
  text-transform: uppercase;
  letter-spacing: 1px;
}

#outspokes #edits_list {
  float: left;
  width: 70%;
  overflow-y: scroll;
  overflow-x: hidden;
}

#outspokes .edit_block {
  /*margin-bottom: 5px;*/
  border-bottom: 1px solid #777;
  background:#FFFFFF url(/images/unopinionated_header.png) repeat-x scroll center -4px;
  height:15px;
  margin-bottom:7px;
  padding:5px;
}

#outspokes .edit_block.disabled {
  background-image: none;
  background-color: #777;
}

#outspokes .edit_block.disagreed {
  background: #fff url(/images/disagreed_header.png) repeat-x center -4px;
}

#outspokes .edit_block.agreed {
  background: #fff url(/images/agreed_header.png) repeat-x center -4px;
}

#outspokes .edit_block .toggle_box {
  float:left; 
  margin-right: 15px; 
  height: 25px;
}
#outspokes .edit_block .edit_name, 
#outspokes .edit_block .edit_timestamp {
  float: left;
  margin-right: 20px;
}
#outspokes .edit_block .edit_name {
  width: 200px;
  font-weight: bold;
}
#outspokes .edit_block .edit_timestamp {
  font-size: 0.8em;
}
#outspokes .edit_block .edit_consensus {float: right;}
#outspokes .edit_block .edit_consensus button {margin-top: -2px; font-weight: bold;}
#outspokes .edit_block .edit_consensus button.agree:hover {color: green;}
#outspokes .edit_block .edit_consensus button.disagree:hover {color: red;}
#outspokes .edit_block .edit_consensus .agreed,
#outspokes .edit_block .edit_consensus .disagreed  
{margin-right: 5px;}
#outspokes .edit_block .edit_consensus .agreed {color: green;}
#outspokes .edit_block .edit_consensus .disagreed {color: #C1272D;}

/* New edit */

#outspokes #new_edit_wrap {
/*  border: 2px dashed orange;*/
  background-color: #333;
  color: black;
  height: 217px;
  float: right;
  overflow: auto;
}
#outspokes #your_edits_left_wrapper {
  float: left;
  width: 70%;
/*overflow-y: scroll;
  overflow-x: hidden;*/
}
#outspokes #back_to_edits_list {
/*  border: 1px solid black;*/
  display: block;
  float: left;
  font-size: 4em;
  line-height: 100%;
  height: 40px;
  width: 120px;
}
#outspokes #your_edits {
/*  border: 1px solid red;*/
  padding-left: 123px;
}
  #outspokes #your_edits h1 {
    background:#EEEEEE;
    color:#666666;
    font-weight:bold;
    padding:5px;
    text-transform:uppercase;
    font-size: 14px;
    border: 1px solid #CCC;
    margin-bottom: 10px;
    margin-top: 15px;
  }
  
  #outspokes #your_edits_wrapper #font_edit_wrap, #outspokes #your_edits_wrapper #color_edit_wrap{
    border: 1px solid #999999;
    margin-top: -1px;
    padding: 10px;
    background: #FFF;
    -moz-border-radius-bottomleft:7px;
    height: 100px;
  }
  
  #outspokes #your_edits .your_edits_nav {
    display: inline;
  }
    #outspokes #your_edits .your_edits_nav li {
      border : 1px solid #999;
      border-bottom : none;
      display : block;
      float : left;
      padding : 2px 10px 7px 10px;
      margin : -2px 2px 0 2px;
      background: #EEE;
    }
    #outspokes #your_edits .your_edits_nav li:hover {
      background-color: #EEE;
      color: #C1272D;
    }
    #outspokes #your_edits .your_edits_nav li.outspokes-current-edit {
      background-color: #FFF;
      color: #C1272D;
      text-decoration: underline;
      border-bottom:1px solid #FFFFFF;
    }
    
#outspokes #font_family_edit_wrap, #outspokes #font_size_edit_wrap,#outspokes #color_bg_edit_wrap,#outspokes #color_text_edit_wrap {
  margin: 10px;
}
#your_edits_wrapper label, #your_edits_wrapper input {
  margin: 5px;
}

#outspokes #your_targets {
/*  border: 1px solid blue;
  background-color: #eee;
  float: right;
  height: 215px;
  margin-right: 2%;
  width: 25%;
  
  
  float: right;
  margin-right: 2%;
  width: 26%;
  height: 157px;
  color: #111;
  margin-top: 30px;
  -moz-border-radius-bottomleft:7px;
  text-align: left;*/
  margin-right: 2%;
  float: right;
  width: 26%;
  height: 217px;
}

#outspokes #outspokes_target_header {
  color:#DDDDDD;
  height:20px;
  line-height:200%;
  margin:5px 0;
  width: 100%;
}

#outspokes #outspokes_target_header span {
  font-size: 14px;
  font-weight: bold;
  font-style:italic;
}

#outspokes #outspokes_target_footer {
  -moz-border-radius-bottomleft:7px;
  background-color:#BBBBBB;
  text-align:right;
  height: 20px;
  padding:3px;
}


#outspokes #outspokes_target_footer #outspokes_save_edit, #outspokes #outspokes_target_footer #outspokes_clear_styles {
  font-weight: bold;
  margin-left: 2%;
}

#outspokes #outspokes_target_footer #outspokes_save_edit {
 /* margin-right: 14px;*/
}

#outspokes #outspokes_target_list_wrap {
  background:#FFFFFF url(/images/unopinionated_header.png) repeat-x scroll center top;
  color:#333333;
  padding:5px;
  width: 96%;
  height: 128px;
  color: #111;
  text-align: left;
  overflow-x: hidden;
  overflow-y: scroll;
  border-right: 1px solid #BBB;
}
#outspokes #outspokes_target_list li { 
  border-bottom: 1px dotted #444;
  padding: 2px;
  margin: 5px 0;
  -moz-border-radius: 3px;
}
  #outspokes #outspokes_target_list li.outspokes_current_target {
    border: 1px solid #C1272D;
  }
  #outspokes #outspokes_target_list li a {
    display: block;
    float: right;
  }
#outspokes #outspokes_target_list #outspokes_delete_style_edit {
  font-weight: bold;
  color: #C1272D;
  font-size: 13px;
  line-height: 11px;
}
#outspokes #outspokes_target_list a#outspokes_delete_style_edit:hover {
  color: red;
}