/* General */

#outspokes #widget_edits {
}

/* List of edits view */

#outspokes {
  
}
#outspokes #edits_list, 
#outspokes #new_edit_link { 
  height: 217px; 
}
#outspokes #new_edit_link {
  float: right;
  font-size: 4em;
  line-height: 100%;
}

#outspokes #edits_list {
  float: left;
  width: 70%;
  overflow-y: scroll;
  overflow-x: hidden;
}

#outspokes .edit_block {
  /*margin-bottom: 5px;*/
  border-bottom: 1px solid #777;
  background:#FFFFFF url(/images/unopinionated_header.png) repeat-x scroll center -4px;
  height:15px;
  margin-bottom:7px;
  padding:5px;
}

#outspokes .edit_block.disabled {
  background-image: none;
  background-color: #777;

}

#outspokes .edit_block .toggle_box {
  float:left; 
  margin-right: 15px; 
  height: 25px;
}
#outspokes .edit_block .edit_name, 
#outspokes .edit_block .edit_timestamp {
  float: left;
  margin-right: 20px;
}
#outspokes .edit_block .edit_name {
  width: 200px;
  font-weight: bold;
}
#outspokes .edit_block .edit_timestamp {
  font-size: 0.8em;
}
#outspokes .edit_block .edit_consensus {float: right; font-weight: bold;}
#outspokes .edit_block .edit_consensus button {margin-top: -2px;}
#outspokes .edit_block .edit_consensus button.agree:hover {color: green;}
#outspokes .edit_block .edit_consensus button.disagree:hover {color: red;}

/* New edit */

#outspokes #new_edit_wrap {
/*  border: 2px dashed orange;*/
  background-color: white;
  color: black;
  height: 217px;
  float: right;
  overflow: auto;
}
#outspokes #your_edits_left_wrapper {
  float: left;
  width: 70%;
/*overflow-y: scroll;
  overflow-x: hidden;*/
}
#outspokes #back_to_edits_list {
/*  border: 1px solid black;*/
  display: block;
  float: left;
  font-size: 4em;
  line-height: 100%;
  height: 40px;
  width: 120px;
}
#outspokes #your_edits {
/*  border: 1px solid red;*/
  padding-left: 123px;
}
  #outspokes #your_edits h1 {
    font-size: 1.5em;
    line-height: 120%;
    padding-bottom: 5px;
  }
  
  #outspokes #your_edits_wrapper {
    border: 1px solid #999999;
    padding: 5px;
  }
  
  #outspokes #your_edits .your_edits_nav {
    display: inline;
  }
    #outspokes #your_edits .your_edits_nav li {
      border : 1px solid #999;
      border-bottom : none;
      display : block;
      float : left;
      padding : 2px 10px 7px 10px;
      margin : -2px 2px 0 2px;
    }
    #outspokes #your_edits .your_edits_nav li:hover {
      background-color: inherit;
      color: #C1272D;
    }
    #outspokes #your_edits .your_edits_nav li.outspokes-current-edit {
      background-color: inherit;
      color: #C1272D;
      text-decoration: underline;
    }

#outspokes #your_targets {
/*  border: 1px solid blue;*/
  background-color: #eee;
  float: right;
  height: 215px;
  margin-right: 2%;
  width: 25%;
}

#outspokes #outspokes_target_header h1 {
  font-size: 1.5em;
  float: left;
  width: 75%;
}

#outspokes #outspokes_target_list {
  
}
#outspokes #outspokes_target_list li { 
  border: 1px solid blue;
  margin: 5px 0;
}
  #outspokes #outspokes_target_list li.outspokes_current_target {
    border: 1px solid #C1272D;
  }
  #outspokes #outspokes_target_list li a {
    display: block;
    float: right;
  }
