- remote_form_for(site,  :url => initial_invite_commenters_site_url(site)+'.js') do |f|
  = label_tag 'emails', "Comma-separated email addresses:"
  = text_area_tag :emails, '', :size => '50'
  = f.submit 'Invite!'
