<h1>Invite people to give feedback</h1>

<% form_tag page_commenters_path(@page) do %>
  <%= label_tag 'emails', "Comma-separated email addresses:" %><br />
  <%= text_area_tag :emails, '', :size => '50' %><br />
  <%= submit_tag 'Invite!' %>
<% end %>

