<% @title = 'About' %>

<a href="http://www.twitter.com/outspokes">Outspokes</a> is the brainchild of a group of UC Berkeley CS 169 students.<br />
<br />
<a href="http://www.twitter.com/andrewbernstein">Andrew Bernstein</a><br />
<a href="http://curg.us">Sanja Curgus</a><br />
James Duncan<br />
<a href="http://www.twitter.com/curagea">Hannah Hu</a><br />
<a href="http://www.twitter.com/artvankilmer">Arthur Klepchukov</a><br />
Matthew Kocher<br />
<a href="http://alex.turnlav.net">Alex Pretzlav</a><br />

