- @title = 'About'
%h1 About Us
#= javascript_include_tag 'prototype', :juggernaut
#= juggernaut(:channels => ['abcdefg'])
%p
  %a{ :href=>"http://www.twitter.com/outspokes"} @Outspokes
  is the brainchild of a group of UC Berkeley CS 169 students:
%ul
  %li
    %a{ :href=>"http://www.twitter.com/andrewbernstein"}Andrew Bernstein
  %li
    %a{ :href=>"http://curg.us"}Sanja Curgus
  %li James Duncan
  %li 
    %a{ :href=>"http://www.twitter.com/curagea"} Hannah Hu
  %li
    %a{ :href=>"http://www.twitter.com/artvankilmer"} Arthur Klepchukov
  %li Matthew Kocher
  %li
    %a{ :href=>"http://alex.turnlav.net"} Alex Pretzlav

