- @title = "Contact Us"

%img#contact_us{:src => "/images/contactus.png"}

%h1
  Go ahead, be outspoken.

%p
  %h2.contact_email
    %a{:href => "mailto:feedback@outspokes.com"} feedback@outspokes.com
  %h2.contact_email
    %a{:href => "mailto:support@outspokes.com"} support@outspokes.com
    
%br

%p
  or follow us on 
  %a{:href => "http://twitter.com/outspokes"} twitter