- @title = "Contact Us"

%img#contact_us{:src => "/images/contactus.png"}

%h1
  Go ahead, be outspoken.

%p
  %h2.contact_email
    = mail_to CONFIG.emails.feedback
  %h2.contact_email
    = mail_to CONFIG.emails.support
    
%br

%p
  or follow us on 
  = link_to "twitter", CONFIG.twitter