- @title = "Feedback Evolved"

%h1#tagline 
  Get feedback from your users 
  %br
  as they browse your site!

%p Here's how it works:
%ol#steps
  %li Tell us your site.

  %li Include a lil' Javascript.

  %li Invite people to give feedback via our widget.

  %li 
    Go back to your site to see people's feedback, 
    %br 
    along with all the relevant context.

= link_to "Sign Up!", signup_path, { :title => "Create an account", :id => 'signup-button' }
