- @title = "Feedback Evolved"

%p Now there's a better way to get feedback for your web application.

%p Using Outspokes, people can give you feedback as they browse your site!

%p Here's how it works:
%ol#steps
  %li Tell us what site you want to get feedback on.

  %li Include a Javascript snippet that we generate in your site.

  %li Once you've done that, you can invite people to give feedback on your site. Give us their email addresses, and we'll send them an email that has a link so they can immediately start giving you feedback!

  %li When you want to see their feedback, log in through Outspokes and go to your site. You'll see our widget right there, along with people's feedback!
  %li Don't worry, if you haven't invited someone to give feedback, they won't see our widget.
  
= link_to "Sign Up!", signup_path, { :title => "Create an account", :id => 'signup-button' }
