<div style="margin: 1ex;">





<div>

  <p align="center"><font size="3" face="Times New Roman">Privacy Policy</font></p>
<p align="justify">      <font size="3" face="Times New Roman">Outspokes, 
Inc. (“Outspokes”) knows that you care about how your personal information 
is used and shared, and we take your privacy seriously.  Please 
read the following to learn more about our privacy policy.  By 
visiting the <a target="_blank" href="http://www.Outspokes.com">www.Outspokes.com</a> website and domain name, or otherwise 
accessing any other linked pages, features, content, products, services 
or applications offered from time to time by Outspokes in connection 
therewith (such as, the Outspokes Widget) (collectively, the "Website"), 
you acknowledge that you accept the practices and policies outlined 
in this Privacy Policy. </font></p>
<p align="center"><font size="3" face="Times New Roman">What Does This 
Privacy Policy Cover?</font></p>
<p align="justify">      <font size="3" face="Times New Roman">This 
Privacy Policy covers Outspokes’ treatment of personally identifiable 
information ("Personal Information") that Outspokes gathers 
when you access the Website and when you use Outspokes’ services or 
applications (such as the Outspokes Widget).  This policy does 
not apply to the practices of companies that Outspokes does not own 
or control, or to individuals that Outspokes does not employ or manage.</font></p>
<p align="center"><font size="3" face="Times New Roman">What Personal 
Information Does Outspokes Collect?</font></p>
<p align="justify">      <font size="3" face="Times New Roman">The 
information we gather from customers enables us to personalize and improve 
our services. We collect the following types of information from our 
customers:</font></p>
<p align="justify">      <font size="3" face="Times New Roman"><b>Personal 
Information You Provide to Us:</b></font></p>
<p>      <font size="3" face="Times New Roman">We 
may receive and store any information you enter on our website or provide 
to us in any other way. The types of Personal Information collected 
include your full name, email address, mobile phone number, credit card 
and/or other payment information, IP address, browser information, username, 
password and any other information necessary for us to provide our services. 
You can choose not to provide us with certain information, but then 
you may not be able to take advantage of many of our special features.  
The Personal Information you provide may be used for such purposes as 
responding to your requests for certain products and services, customizing 
the advertising and content you see, and communicating with you about 
new products and services.  </font> <br/></p>
<p align="justify">      <font size="3" face="Times New Roman"><b>Personal 
Information Collected Automatically:</b></font></p>
<ul>
<ul type="DISC">
  <li><font size="3" face="Times New Roman">We receive and store 
  certain types of information whenever you interact with our Website 
  or use our services.  Outspokes automatically receives and records 
  information on our server logs from your browser including your IP address, 
  cookie information, and the page you requested. </font></li>
  <li><font size="3" face="Times New Roman">Generally, our service 
  automatically collects usage information, such as the numbers and frequency 
  of visitors to our Website and its components, similar to TV ratings 
  that indicate how many people watched a particular show.  Outspokes 
  only uses this data in aggregate form, that is, as a statistical measure, 
  and not in a manner that would identify you personally.  This type 
  of aggregate data enables us to figure out how often customers use parts 
  of the Website or services so that we can make the Website appealing 
  to as many customers as possible, and improve those services.  
  As part of this use of information, we may provide aggregate information 
  to our partners about how our customers, collectively, use our Website 
  or services.  We share this type of statistical data so that our 
  partners also understand how often people use the Website or services, 
  so that they, too, may provide you with an optimal online experience. 
  Again, Outspokes never discloses aggregate information to a partner 
  in a manner that would identify you personally.</font></li>
</ul>
</ul>
<p align="justify">      <font size="3" face="Times New Roman"><b>The 
Outspokes Widget</b></font></p>
<p align="justify">      <font size="3" face="Times New Roman">The 
Outspokes Widget will send us the following types of information with 
respect to the website on which you embed the widget: comments, replies, designs, authentication information, invitation information.  This 
information may be used by us to analyze and improve our products and 
services.</font></p>
<p align="justify">      <font size="3" face="Times New Roman"><b>E-mail 
Communications:</b></font></p>
<p align="justify">      <font size="3" face="Times New Roman">We 
often receive a confirmation when you open an email from Outspokes if 
your computer supports this type of program. Outspokes uses this confirmation 
to help us make emails more interesting and helpful.  We also compare 
our customer list to lists received from other companies, in an effort 
to avoid sending unnecessary messages to our customers.  When you 
receive e-mail from Outspokes, you can opt out of receiving further 
e-mails by following the included instructions to unsubscribe.</font></p>
<p>      <font size="3" face="Times New Roman"><b>Information 
from Other Sources</b>:</font> <br/></p>
<p>      <font size="3" face="Times New Roman">For 
purposes such as improving personalization of our service, we may receive 
information about you from other sources and add it to our account information.  </font> <br/>
</p>
<p align="justify">      <font size="3" face="Times New Roman"><b>What 
About Cookies?</b></font></p>
<ul>
<ul type="DISC">
  <li><font size="3" face="Times New Roman">Cookies are alphanumeric 
  identifiers that we transfer to your computer’s hard drive through 
  your browser to enable our systems to recognize your browser and tell 
  us how and when pages in our site are visited and by how many people.  
  We use cookies to enhance visitors’ experiences, to learn more about 
  their use of the Website and to improve the quality of our products 
  and services.   </font></li>
  <li><font size="3" face="Times New Roman">Most browsers have 
  an option for turning off the cookie feature, which will prevent your 
  browser from accepting new cookies, as well as (depending on the sophistication 
  of your browser software) allowing you to decide on acceptance of each 
  new cookie in a variety of ways.  We strongly recommend that you 
  leave the cookies activated, however, because cookies enable you to 
  take advantage of some of our Website’s most attractive features.</font></li>
  <li><font size="3" face="Times New Roman">Ads appearing on 
  the Website may be delivered to users by our advertising partners, who 
  may set cookies. These cookies allow the ad server to recognize your 
  computer each time they send you an online advertisement to compile 
  information about you or others who use your computer. This information 
  allows ad networks to, among other things, deliver targeted advertisements 
  that they believe will be of most interest to you. This Privacy Policy 
  covers the use of cookies by Outspokes and does not cover the use of 
  cookies by any advertisers.</font></li>
</ul>
</ul>
<p align="center"><font size="3" face="Times New Roman">Will 
Outspokes Share Any of the Personal Information it Receives?</font></p>
<p align="justify">      <font size="3" face="Times New Roman">Personal 
Information about our customers is an integral part of our business.  
We neither rent nor sell your Personal Information to anyone.  
We share your Personal Information only as described below.</font></p>
<p align="justify">      <font size="3" face="Times New Roman"><i>Affiliated 
Businesses We Do Not Control</i>: We anticipate that we may become affiliated 
with a variety of businesses and work closely with them.  In certain 
situations, these businesses may sell items to you through the Website.  
In other situations, Outspokes may provide services, or sell products, 
jointly with affiliated businesses.  You can easily recognize when 
an affiliated business is associated with your transaction, and we will 
share your Personal Information that is related to such transactions 
with that affiliated business.</font><font size="3" face="Helvetica"> </font></p>
<p align="justify">      <font size="3" face="Times New Roman"><i>Agents</i>: 
We employ other companies and people to perform tasks on our behalf 
and need to share your information with them to provide products or 
services to you.    Unless we tell you differently, Outspokes’ 
agents do not have any right to use Personal Information we share with 
them beyond what is necessary to assist us. You hereby consent to our 
sharing of Personal Information for the above purposes.</font></p>
<p align="justify">      <font size="3" face="Times New Roman"><i>Promotional 
Offers</i>: We may send offers to you on behalf of other businesses.  
However, when we do so, we do not give the other business your name 
and address.  If you do not wish to receive these offers, please 
send an email with your request to privacy@outspokes.com. </font></p>
<p align="justify">      <font size="3" face="Times New Roman"><i>Business 
Transfers</i>: In some cases, we may choose to buy or sell assets.  
In these types of transactions, customer information is typically one 
of the business assets that are transferred.  Moreover, if Outspokes, 
or substantially all of its assets were acquired, or in the unlikely 
event that Outspokes goes out of business or enters bankruptcy, customer 
information would be one of the assets that is transferred or acquired 
by a third party. You acknowledge that such transfers may occur, and 
that any acquirer of Outspokes may continue to use your Personal Information 
as set forth in this policy.</font></p>
<p align="justify">      <font size="3" face="Times New Roman"><i>Protection 
of Outspokes and Others</i>: We may release Personal Information when 
we believe in good faith that release is necessary to comply with the 
law; enforce or apply our conditions of use and other agreements; or 
protect the rights, property, or safety of Outspokes, our employees, 
our users, or others.  This includes exchanging information with 
other companies and organizations for fraud protection and credit risk 
reduction.</font></p>
<p align="justify">      <font size="3" face="Times New Roman"><i>With 
Your Consent</i>: Except as set forth above, you will be notified when 
your Personal Information may be shared with third parties, and will 
be able to prevent the sharing of this information.</font></p>
<p align="center"><font size="3" face="Times New Roman">CONDITIONS OF 
USE</font> <br/></p>
<p>      <font size="3" face="Times New Roman">If 
you decide to visit the Outspokes websites, your visit and any possible 
dispute over privacy is subject to this Privacy Policy and our Terms 
of Use, including limitations on damages, arbitration of disputes, and 
application of California state law.  </font> <br/></p>
<p align="center"><font size="3" face="Times New Roman">THIRD PARTY 
WEBSITES</font> <br/></p>
<p>      <font size="3" face="Times New Roman">Outspokes 
services may permit you to link to other websites on the Internet, and 
other websites may contain links to the Websites.  These other 
websites are not under Outspokes control, and such links do not constitute 
an endorsement by Outspokes of those other websites or the services 
offered through them.  The privacy and security practices of websites 
linked to or from the Outspokes websites are not covered by this Privacy 
Policy, and Outspokes is not responsible for the privacy or security 
practices or the content of such websites.</font> <br/></p>
<p align="center"><font size="3" face="Times New Roman">Is Personal 
Information About me Secure?</font></p>
<p align="justify">      <font size="3" face="Times New Roman">Your 
Outspokes account Personal Information is protected by a password for 
your privacy and security.  You need to ensure that there is no 
unauthorized access to your account and Personal Information by selecting 
and protecting your password appropriately and limiting access to your 
computer and browser by signing off after you have finished accessing 
your account.</font></p>
<p align="justify">      <font size="3" face="Times New Roman">Outspokes 
endeavors to protect user information to ensure that user account information 
is kept private, however, Outspokes cannot guarantee the security of 
user account information.  Unauthorized entry or use, hardware 
or software failure, and other factors, may compromise the security 
of user information at any time. </font></p>
<p align="justify">      <font size="3" face="Times New Roman">The 
Website contains links to other sites. Outspokes is not responsible 
for the privacy policies and/or practices on other sites. When linking 
to another site you should read the privacy policy stated on that site.  
This Privacy Policy only governs information collected on the Website. </font></p>
<p align="justify">      <font size="3" face="Times New Roman">This 
Privacy Policy addresses only the use and disclosure of information 
we collect from you. If you disclose your information to others, whether 
they are bidders, buyers or sellers on our sites or other sites throughout 
the internet, different rules may apply to their use or disclosure of 
the information you disclose to them. Outspokes does not control the 
privacy policies of third parties, and you are subject to the privacy 
policies of those third parties where applicable. We encourage you to 
ask questions before you disclose your personal information to others.</font></p>
<p align="center"><font size="3" face="Times New Roman">what personal 
information can i access?</font></p>
<p>      <font size="3" face="Times New Roman">Outspokes 
allows you to access the following information about you for the purpose 
of viewing, and in certain situations, updating that information.  
This list will change as the Website changes.  </font> <br/>
</p>
<ul type="DISC">
  <li><font size="3" face="Times New Roman">Real name</font></li>
  <li><font size="3" face="Times New Roman">Account and user 
  profile information</font></li>
  <li><font size="3" face="Times New Roman">Credit card and/or 
  other payment information</font></li>
  <li><font size="3" face="Times New Roman">User e-mail address</font></li>
  <li><font size="3" face="Times New Roman">User mobile phone 
  number</font></li>
  <li><font size="3" face="Times New Roman">Username and password</font></li>
  <li><font size="3" face="Times New Roman">User preferences</font></li>
</ul>
 <br/>
<p align="center"><font size="3" face="Times New Roman">What Choices 
Do I Have?</font></p>
<p align="justify">      <font size="3" face="Times New Roman">As 
stated previously, you can always opt not to disclose information, even 
though it may be needed to take advantage of certain features of the 
Website and services.</font></p>
<p align="justify">      <font size="3" face="Times New Roman">You 
are able to add or update certain information on pages, such as those 
listed in the “What Personal Information Can I Access” section above.  
When you update information, however, we often maintain a copy of the 
unrevised information in our records.</font></p>
<p align="justify">      <font size="3" face="Times New Roman">You 
may request deletion of your Outspokes account by sending an e-mail 
to privacy@outspokes.com.  Please note that some information may 
remain in our records after deletion of your account.  </font></p>
<p align="justify">      <font size="3" face="Times New Roman">If 
you do not wish to receive email or other mail from us, please indicate 
this preference by emailing privacy@outspokes.com.  
Please note that if you do not want to receive legal notices from us, 
such as this Privacy Policy, those legal notices will still govern your 
use of the Website, and you are responsible for reviewing such legal 
notices for changes.</font></p>
<p align="center"><font size="3" face="Times New Roman">CAN CHILDREN 
USE OUTSPOKES’ SERVICES?</font> <br/></p>
<p>      <font size="3" face="Times New Roman">Our 
site and the services available through Outspokes are not intended for 
children under the age of 13.  Outspokes does not knowingly or 
specifically collect information about children under the age of 13 
and believes that children of any age should get their parents’ consent 
before giving out any personal information.  We encourage you to 
participate in your child’s web experience.  Outspokes recommends 
that parents use Internet filtering technology to supervise their kids’ 
access to the Internet.</font> <br/></p>
<p align="center"><font size="3" face="Times New Roman">Changes to this 
Privacy Policy</font></p>
<p align="justify">      <font size="3" face="Times New Roman">Outspokes 
may amend this Privacy Policy from time to time.  Use of information 
we collect now is subject to the Privacy Policy in effect at the time 
such information is used.  If we make changes in the way we use 
Personal Information, we will notify you by posting an announcement 
on our Website or sending you an email.  Users are bound by any 
changes to the Privacy Policy when he or she uses the Website after 
such changes have been first posted.</font></p>
<p align="center"><font size="3" face="Times New Roman">Questions or 
Concerns</font></p>
<p>      <font size="3" face="Times New Roman">If 
you have any questions or concerns regarding privacy on our Website, 
please send us a detailed message at privacy@outspokes.com.  We 
will make every effort to resolve your concerns.</font></p>
<p><font size="3" face="Times New Roman">Effective Date: September 1st, 
2009</font></p>
<p><font size="3" face="Times New Roman">privacy@outspokes.com</font></p>


</div>

</div>
