<div style="margin: 1ex;">

<div>

  <p align="center"><font size="3" face="Times New Roman"><b><u>OUTSPOKES 
WEBSITE TERMS OF USE</u></b></font></p>
<h1 align="justify">      <font size="3" face="Times New Roman">The 
following terms and conditions (the “Agreement”) govern all use 
of the <a target="_blank" href="http://www.Outspokes.com">www.Outspokes.com</a> website (the “Site”) and the software and 
services available on or at the Site (taken together with the Site, 
the “Service”).  The “Service” includes the Outspokes Widget 
(“Widget”).  The Service is owned and operated by Outspokes, 
Inc.  (“Outspokes”).  The Service is offered subject to 
your (the “User”) acceptance without modification of all of the 
terms and conditions contained herein and all other operating rules, 
policies and procedures that may be published from time to time on the 
Site by Outspokes.  BY USING OR ACCESSING ANY PART OF THE SERVICE, 
YOU AGREE TO ALL OF THE TERMS AND CONDITIONS CONTAINED HEREIN; IF YOU 
NOT AGREE, DO NOT USE OR ACCESS THE SERVICE.</font></h1>
<h1 align="justify">      <font size="3" face="Times New Roman">Outspokes 
reserves the right, at its sole discretion, to modify or replace any 
of the terms or conditions of this Agreement at any time.  It is 
User’s responsibility to check this Agreement periodically for changes.  
User’s continued use of the Service following the posting of any changes 
to this Agreement constitutes acceptance of those changes.</font></h1>
<ol type="1">
  <li><font size="3" face="Times New Roman">ACCESS.</font></li>
</ol>
<p align="justify">      <font size="3" face="Times New Roman">Subject 
to the terms and conditions of this Agreement, the software and services 
provided in connection with the Service are solely for User’s own 
personal use, and not for the use or benefit of any third party.  
Outspokes may change, suspend or discontinue the Services at any time, 
including the availability of any feature, database, or content.  
Outspokes may also impose limits on certain features and services or 
restrict User’s access to parts or all of the Services without notice 
or liability.  Outspokes reserves the right, at its discretion, 
to modify this User Agreement at any time by posting a notice on the 
Site, or by sending User a notice via email or postal mail.  User 
shall be responsible for reviewing and becoming familiar with any such 
modifications.  Use of the Service by User following such notification 
constitutes User’s acceptance of the terms and conditions of this 
User Agreement as modified.</font></p>
<p align="justify">      <font size="3" face="Times New Roman">User 
certifies to Outspokes that if User is an individual (i.e., not a corporation) 
User is at least 18 years of age.  User also certifies that it 
is legally permitted to use the Service, and takes full responsibility 
for the selection and use of the the Service.  This Agreement is 
void where prohibited by law, and the right to access the Service is 
revoked in such jurisdictions.</font></p>
<p align="justify">      <font size="3" face="Times New Roman">User 
shall be responsible for obtaining and maintaining any equipment or 
ancillary services needed to connect to, access the Service, including, 
without limitation, modems, hardware, software, and long distance or 
local telephone service.  User shall be responsible for ensuring 
that such equipment or ancillary services are compatible with the Service.</font></p>
<ol type="1" start="2">
  <li><font size="3" face="Times New Roman">SITE CONTENT. </font></li>
</ol>
<p align="justify">      <font size="3" face="Times New Roman">User 
agrees that all content and materials (collectively, “Content”) 
delivered via the Service or otherwise made available by Outspokes at 
the Site are protected by copyrights, trademarks, service marks, patents, 
trade secrets or other proprietary rights and laws.  Except as 
expressly authorized by Outspokes in writing, User agrees not to sell, 
license, rent, modify, distribute, copy, reproduce, transmit, publicly 
display, publicly perform, publish, adapt, edit or create derivative 
works from such materials or content.  However, User may print 
or download a reasonable number of copies of the materials or content 
at this Site for User’s own informational purposes; <i><u>provided</u></i>, 
that User retain all copyright and other proprietary notices contained 
therein.  Reproducing, copying or distributing any content, materials 
or design elements on the Site for any other purpose is strictly prohibited 
without the express prior written permission of Outspokes.  </font></p>
<p align="justify">      <font size="3" face="Times New Roman">Use 
of the content or materials for any purpose not expressly permitted 
in this Agreement is prohibited.  Any rights not expressly granted 
herein are reserved.</font></p>
<p align="justify">      <font size="3" face="Times New Roman">User 
acknowledges and agrees that if User uses the Site to contribute Content 
to the Site, Outspokes is hereby granted a non-exclusive, worldwide, 
royalty-free, transferable right to fully exploit such Content (including 
all related intellectual property rights) and to allow others to do 
so.  User warrants, represents and agrees that it will not contribute 
any Content that is infringing, libelous, defamatory, obscene, pornographic, 
abusive, offensive or otherwise violates any law or right of any third 
party.  Outspokes reserves the right to remove any Content from 
the Site at any time, for any reason (including, but not limited to, 
upon receipt of claims or allegations from third parties or authorities 
relating to such Content or if Outspokes is concerned that User may 
have breached the immediately preceding sentence), or for no reason 
at all.</font></p>
<ol type="1" start="3">
  <li><font size="3" face="Times New Roman">SOFTWARE</font></li>
</ol>
<p align="justify">      <font size="3" face="Times New Roman">With 
respect to any software User is authorized by Outspokes to download 
via the Service (such as the Outspokes Widget), Outspokes grants User 
a personal, nontransferable, nonsublicensable, nonexclusive license 
to use such software solely for User’s personal, non-commercial use, 
and only in accordance with the written instructions/directions (if 
any) provided by Outspokes.  User shall not, nor permit anyone 
else to, directly or indirectly: (i) copy, modify, or distribute the 
software; (ii) reverse engineer, disassemble, decompile or otherwise 
attempt to discover the source code or structure, sequence and organization 
of all or any part of the software (except that this restriction shall 
not apply to the limited extent restrictions on reverse engineering 
are prohibited by applicable local law); or (iii) rent, lease, or use 
the software for timesharing or service bureau purposes, or otherwise 
use the software for any commercial purpose.</font></p>
<ol type="1" start="4">
  <li><font size="3" face="Times New Roman">RESTRICTIONS.</font></li>
</ol>
<h1 align="justify">      <font size="3" face="Times New Roman">User 
shall not use any “deep-link”, “page-scrape”, “robot”, “spider” 
or other automatic device, program, algorithm or methodology, or any 
similar or equivalent manual process, to access, acquire, copy or monitor 
any portion of the Service or any Content, or in any way reproduce or 
circumvent the navigational structure or presentation of the Service 
or any Content, to obtain or attempt to obtain any materials, documents 
or information through any means not purposely made available through 
the Service.  Outspokes reserves the right to bar any such activity.</font></h1>
<h1 align="justify">      <font size="3" face="Times New Roman">User 
shall not attempt to gain unauthorized access to any portion or feature 
of the Service, or any other systems or networks connected to the Service 
or to any Outspokes server, or to any of the services offered on or 
through the Service, by hacking, password “mining”, or any other 
illegitimate means.</font></h1>
<h1 align="justify">      <font size="3" face="Times New Roman">User 
shall not probe, scan or test the vulnerability of the Service or any 
network connected to the Service, nor breach the security or authentication 
measures on the Service or any network connected to the Service.  User 
shall not reverse look-up, trace or seek to trace any information on 
any other user of or visitor to the Service, or any other customer of 
Outspokes, including any Outspokes account not owned by User, to its 
source, or exploit the Service or any service or information made available 
or offered by or through the Service, in any way where the purpose is 
to reveal any information, including but not limited to personal identification 
or information, other than User’s own information, as provided for 
by the Service.</font></h1>
<h1 align="justify">      <font size="3" face="Times New Roman">User 
shall not take any action that imposes an unreasonable or disproportionately 
large load on the infrastructure of the Service or Outspokes’ systems 
or networks, or any systems or networks connected to the Service or 
to Outspokes.</font></h1>
<h1 align="justify">      <font size="3" face="Times New Roman">User 
shall not use any device, software or routine to interfere or attempt 
to interfere with the proper working of the Service or any transaction 
being conducted on the Service, or with any other person’s use of 
the Service.</font></h1>
<h1 align="justify">      <font size="3" face="Times New Roman">User 
shall not forge headers or otherwise manipulate identifiers in order 
to disguise the origin of any message or transmittal User sends to Outspokes 
on or through the Service.  User shall not, in connection with the Service, 
pretend (e.g. through impersonation) that User is any other individual 
or entity.</font></h1>
<h1 align="justify">      <font size="3" face="Times New Roman">User 
shall not use the Service or any Content for any purpose that is unlawful 
or prohibited by this Agreement, or which infringes the rights of Outspokes 
or others.</font></h1>
<ol type="1" start="5">
  <li><font size="3" face="Times New Roman">REGISTRATION; SECURITY.</font></li>
</ol>
<p align="justify">      <font size="3" face="Times New Roman">As 
a condition to using certain features of the Service, User may be required 
to register with Outspokes and select a password and User name (“Outspokes 
User ID”).  User shall provide Outspokes with accurate, complete, 
and updated registration information.  Failure to do so shall constitute 
a breach of this Agreement, which may result in immediate termination 
of User’s account.  User may not (i) select or use as a Outspokes 
User ID a name of another person with the intent to impersonate that 
person; or (ii) use as a Outspokes User ID a name subject to any rights 
of a person other than User without appropriate authorization.  
Outspokes reserves the right to refuse registration of, or cancel a 
Outspokes User ID in its discretion.  User shall be responsible 
for maintaining the confidentiality of User’s Outspokes password and 
other account information.</font></p>
<ol type="1" start="6">
  <li><font size="3" face="Times New Roman">THIRD PARTY SITES.</font></li>
</ol>
<p align="justify">      <font size="3" face="Times New Roman">The 
Site may permit User to link to other websites or resources on the Internet, 
and other websites or resources may contain links to the Site.  
These other websites are not under Outspokes’ control, and User acknowledges 
that Outspokes is not responsible or liable for the content, functions, 
accuracy, legality, appropriateness or any other aspect of such websites 
or resources.  The inclusion of any such link does not imply endorsement 
by Outspokes.  User further acknowledge and agree that Outspokes 
shall not be responsible or liable, directly or indirectly, for any 
damage or loss caused or alleged to be caused by or in connection with 
the use of or reliance on any content, goods, information, or services 
available on or through any such website or resource.</font></p>
<ol type="1" start="7">
  <li><font size="3" face="Times New Roman">INDEMNIFICATION.  </font></li>
</ol>
<h1 align="justify">      <font size="3" face="Times New Roman">User 
is responsible for all of its activity in connection with the Service. 
User shall defend, indemnify, and hold harmless Outspokes, its affiliates 
and each of its, and its affiliates  employees, contractors, directors, 
suppliers and representatives from all liabilities, claims, and expenses, 
including reasonable attorneys' fees, that arise from User’s (i) use 
or misuse of the Service; (ii) access to any part of the Service, or 
(iii) otherwise from violation of this Agreement.  </font></h1>
<ol type="1" start="8">
  <li><font size="3" face="Times New Roman">WARRANTY DISCLAIMER.</font></li>
</ol>
<h1 align="justify">      <font size="3" face="Times New Roman">THE 
SERVICE (INCLUDING, WITHOUT LIMITATION, THE SITE AND ANY SOFTWARE) IS 
PROVIDED ON AN "AS IS" BASIS, WITHOUT WARRANTIES OF ANY KIND, 
EITHER EXPRESS OR IMPLIED, INCLUDING, WITHOUT LIMITATION, IMPLIED WARRANTIES 
OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE OR NON-INFRINGEMENT.  
OUTSPOKES MAKE NO WARRANTY THAT (I) THE SERVICE IS FREE OF VIRUSES OR 
OTHER HARMFUL COMPONENTS OR (II) THE RESULTS OF USING THE SERVICE WILL 
MEET USER’S REQUIREMENTS.  USER’S USE OF THE SERVICE IS SOLELY 
AT USER’S OWN RISK.</font></h1>
<ol type="1" start="9">
  <li><font size="3" face="Times New Roman">LIMITATION OF LIABILITY.<b> </b></font></li>
</ol>
<p align="justify">      <font size="3" face="Times New Roman">IN 
NO EVENT SHALL OUTSPOKES, ITS OFFICERS, DIRECTORS, EMPLOYEES, AGENTS, 
VENDORS OR SUPPLIERS BE LIABLE UNDER CONTRACT, TORT, STRICT LIABILITY, 
NEGLIGENCE OR ANY OTHER LEGAL THEORY WITH RESPECT TO THE SERVICE (OR 
ANY CONTENT, PROGRAMS OR INFORMATION AVAILABLE THROUGH THE SERVICE): 
(I) FOR ANY LOST PROFITS OR SPECIAL, INDIRECT, INCIDENTAL, PUNITIVE, 
OR CONSEQUENTIAL DAMAGES OF ANY KIND WHATSOEVER, SUBSTITUTE GOODS OR 
SERVICES (HOWEVER ARISING), (II) FOR ANY BUGS, VIRUSES, TROJAN HORSES, 
OR THE LIKE (REGARDLESS OF THE SOURCE OF ORIGINATION), (III) FOR ANY 
ERRORS OR OMISSIONS IN ANY CONTENT OR INFORMATION OR FOR ANY LOSS OR 
DAMAGE OF ANY KIND INCURRED AS A RESULT OF USER’S USE OF ANY CONTENT 
OR INFORMATION POSTED, EMAILED, TRANSMITTED OR OTHERWISE MADE AVAILABLE 
AT OR THROUGH THE SERVICE, OR (IV) FOR ANY DIRECT DAMAGES IN EXCESS 
OF (IN THE AGGREGATE) $1,000.00 (U.S.).  In addition, 
Outspokes shall not be liable for any loss or liability resulting, directly 
or indirectly, from User’s inability to access or otherwise use the 
Site (including, without limitation, any delays or interruptions due 
to electronic or mechanical equipment failures, denial of service attacks, 
date data processing failures, telecommunications or 
Internet problems or utility failures).</font></p>
<ol type="1" start="10">
  <li><font size="3" face="Times New Roman">FEES AND PAYMENT.</font></li>
</ol>
<h1 align="justify">      <font size="3" face="Times New Roman">Some 
features of the Service may require payment of fees. User shall pay 
all applicable fees, as described on the Site in connection with such 
for-fee services purchased by User. Outspokes reserves the right to 
change its prices and to institute new charges at any time, upon ten (10) 
days prior notice to User, which may be sent by email or posted on the 
Site.</font></h1>
<ol type="1" start="11">
  <li><font size="3" face="Times New Roman">TERMINATION. </font></li>
</ol>
<h1 align="justify">      <font size="3" face="Times New Roman">Outspokes 
may terminate User’s access to all or any part of the Service at any 
time, with or without cause, effective upon notice thereof to User (provided 
that, if Outspokes determines there may be an immediate threat to Outspokes, 
it may terminate such access without notice).  Upon termination 
notice from Outspokes, User will (i) no longer access (or attempt to 
access) the Service and (ii) delete all software (and copies thereof) 
provided in connection with the Service.  All provisions of this 
Agreement which by their nature should survive termination shall survive 
termination, including, without limitation, ownership provisions, warranty 
disclaimers and limitations of liability. </font></h1>
<ol type="1" start="12">
  <li><font size="3" face="Times New Roman">EXPORT AND TRADE 
  CONTROLS.</font></li>
</ol>
<p>      <font size="3" face="Times New Roman">User 
agrees not to import, export, re-export, or transfer, directly or indirectly, 
any part of the Service or any information provided on or pursuant to 
the Service except in full compliance with all United States, foreign 
and other applicable laws and regulations.</font></p>
<ol type="1" start="13">
  <li><font size="3" face="Times New Roman">PRIVACY.</font></li>
</ol>
<p align="justify">      <font size="3" face="Times New Roman">Outspokes’ 
current privacy policy is available at <%= link_to privacy_path %> (the “Privacy 
Policy”), which is incorporated by this reference.  Outspokes 
strongly recommends that you review the Privacy Policy closely.</font></p>
<ol type="1" start="14">
  <li><font size="3" face="Times New Roman">COPYRIGHT.</font></li>
</ol>
<p align="justify">      <font size="3" face="Times New Roman">All 
content included on the Site, such as text, graphics, logos, button 
icons, images, audio clips, digital downloads, data compilations, and 
software, is the property of Outspokes or its content suppliers and 
protected by United States and international copyright laws.  The 
compilation of all content on the Site is the exclusive property of 
Outspokes and protected by U.S. and international copyright laws.  
All software used on (or provided through) the Site is the property 
of Outspokes or its software suppliers and protected by United States 
and international copyright laws.</font></p>
<ol type="1" start="15">
  <li><font size="3" face="Times New Roman">ELECTRONIC COMMUNICATIONS.</font></li>
</ol>
<p align="justify">      <font size="3" face="Times New Roman">When 
User visits the Site or send e-mails to Outspokes, User is communicating 
with Outspokes electronically.  User hereby consents to receive 
communications from us electronically.  Outspokes will communicate 
with User by e-mail or by posting notices on the Site.  User agrees 
that all agreements, notices, disclosures and other communications that 
Outspokes provides to User electronically satisfy any legal requirement 
that such communications be in writing.</font></p>
<ol type="1" start="16">
  <li><font size="3" face="Times New Roman">MISCELLANEOUS. </font></li>
</ol>
<h1 align="justify">      <font size="3" face="Times New Roman">The 
failure of either party to exercise in any respect any right provided 
for herein shall not be deemed a waiver of any further rights hereunder. 
Outspokes shall not be liable for any failure to perform its obligations 
hereunder where such failure results from any cause beyond Outspokes’ 
reasonable control, including, without limitation, mechanical, electronic 
or communications failure or degradation (including "line-noise" 
interference). If any provision of this Agreement is found to be unenforceable 
or invalid, that provision shall be limited or eliminated to the minimum 
extent necessary so that this Agreement shall otherwise remain in full 
force and effect and enforceable. This Agreement is not assignable, 
transferable or sublicensable by User except with Outspokes’ prior 
written consent.  Outspokes may transfer, assign or delegate this Agreement 
and its rights and obligations without consent.  This Agreement 
shall be governed by and construed in accordance with the laws of the 
state of California, as if made within California between two residents 
thereof, and the parties submit to the exclusive jurisdiction and venue 
of the state and Federal courts located in San Francisco, California.  
Notwithstanding the foregoing sentence, (but without limiting either 
party’s right to seek injunctive or other equitable relief immediately, 
at any time, in any court of competent jurisdiction), any disputes arising 
with respect to this Agreement shall be settled by arbitration in accordance 
with the rules and procedures of the Judicial Arbitration and Mediation 
Service, Inc. (“JAMS”).  The arbitrator shall be selected by 
joint agreement of the parties.  In the event the parties cannot 
agree on an arbitrator within thirty (30) days of the initiating party 
providing the other party with written notice that it plans to seek 
arbitration, the parties shall each select an arbitrator affiliated 
with JAMS, which arbitrators shall jointly select a third such arbitrator 
to resolve the dispute.  The written decision of the arbitrator 
shall be final and binding on the parties and enforceable in any court.   
The arbitration<b> </b>proceeding shall take place in San Francisco, 
California, using the English language.  Both parties agree that 
this Agreement is the complete and exclusive statement of the mutual 
understanding of the parties and supersedes and cancels all previous 
written and oral agreements, communications and other understandings 
relating to the subject matter of this Agreement, and that all modifications 
must be in a writing signed by both parties, except as otherwise provided 
herein. No agency, partnership, joint venture, or employment is created 
as a result of this Agreement and User does not have any authority of 
any kind to bind Outspokes in any respect whatsoever.</font></h1>

<p><font size="3" face="Times New Roman">tou@outspokes.com</font></p>
</div>

</div>
