<p>
  Thanks for signing up with Outspokes!
</p>

<p>
  We're very excited to bring new ways of giving feedback to websites.
  Whether you're a developer, a designer, a product manager, or an end
  user, we hope to empower you with tools that will help you gather,
  analyze, and action on feedback.  Check out a <%= link_to 'tour of
  the features', @tour_url %> to see what's possible, and then
  <%= link_to 'try it out yourself!', @admin_url %>
</p>

<p>
  We're currently in private beta right now and would love to hear
  what you think of the site.  Tell us what works and what doesn't for
  you so we can make Outspokes a better product.  You can get in touch
  with us directly by emailing <%= link_to "support@outspokes.com",
  "mailto:support@outspokes.com" %>.
</p>

<p>
  Also don't forget to follow us on <%= link_to "twitter",
  CONFIG.twitter %> for the latest news and
  features.
</p>

<p>
  Best,
  Your friendly Outspokes team.
</p>
