<p>
  Thanks for signing up with Outspokes!
</p>
<br />

<p>
  We're building a better way to give and get feedback on your website.
  If you're a developer, designer, product manager, freelancer, or a client, 
  our tools will help you gather, analyze, and take action on more relevant, contextual feedback. 
  <%= link_to 'Try it on your site!', @admin_url %>
</p>
<br />

<p>
  We're currently in private beta and would love to hear
  what you think. You can make Outspokes a better product! 
  Get in touch with us directly by emailing 
  <%= mail_to CONFIG.emails.support %>.
</p>
<br />

<p>
  You can also follow us on <%= link_to "twitter", CONFIG.twitter %>.
</p>
<br />

<p>Thanks,<br />
The Outspokes Team</p>