<p>
  <%= @account_email %> has invited you to give feedback on "<%= @name %>."
</p>

<p>
  Please follow the link below to your friend's site to give feedback!
  We encourage you to bookmark it so you don't have to come back to
  this email.
</p>

<%= link_to @url, @url %>

<p>
  This is all powered by <%= link_to "Outspokes", CONFIG.url %>. While
  we're in beta, we strongly recommend
  using <a href="http://getfirefox.com">Mozilla Firefox</a> to give
  feedback.
</p>
