<p><%= @account_email %> has invited you to give feedback on <%= @name %>.</p>

<p>Please follow the link below to give feedback!</p>

<%= link_to @url, @url %>

<p>Thanks,<br />
The Outspokes Team</p>
