<p>
  Your new temporary password is:
</p>

<p>
  <%= @account.password %>
</p>

<%# FIXME: edit_account_url(@account) redirects to sessions/new, but
trying to login there always clears the password field %>
<p>
  Please change this next time you login in <%= link_to 'your account
  page', root_url %>
</p>
