<table>
  <tr>
    <td>
      <div class="pricing_plan">
        <h3>Large</h3>
        <p>$99</p>
        <%= link_to 'Signup', signup_path(:plan_name => 'large') %>
      </div>
    </td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
</table>
