<h2 class="title">About</h2>

<p>
  Initech is a fictional company from the 1999 cult
  classic <a href="http://en.wikipedia.org/wiki/Office_Space"></a>.
  We are not responsible for any broken staplers or copy
  machines that are harmed in the making of this website.
</p>

<p>
  Sometimes you just want to make some text bigger, but you
  can't without going to your editor.
</p>

<h4>This is some header</h4>
<p>
  I wish the background could be a different color.
</p>

<p>
  Wouldn't it be neat if the font sizes could be tweaked or we
  could leave comments wherever we wanted?
</p>
