body {
  width: 800px;
  font-size: 13pt;
  font-family: Helvetica, Arial, sans-serif;
  line-height: 1.5em;
  padding: 25px;
}

#navigation ul {
  list-style: none;
}

#navigation li {
  float: left;
  margin-right: 25px;
}
